.tagCloud__image{
	width: 100%;
}

.big-link{
	font-size: 30px;
	color: white;
	text-decoration: underline;
}

.big-link:hover{
	color: white;
}


.node {
    stroke: #fff;
    stroke-width: 1.5px;
}
.link {
    stroke: #999;
    stroke-opacity: .6;
}
